*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    padding: 10px;
}
hr{
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}
/***================ top sub-header start========================= ***/
.top-sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.top-sub-header ul {
    display: flex;
    justify-content: flex-end;
}
/***left-top-sub-header start***/
.top-sub-header > div{
    flex: 1;
    
}
.left-top-sub-header .email{
    margin-right: 25px;
    color: rgb(122, 122, 122);
}
.left-top-sub-header .address{
    margin-left: 25px;
    color: rgb(122, 122, 122);
}
.left-top-sub-header .email i, .address i{
    margin-right: 10px;
    color: rgb(243, 85, 37);
    font-size: 20px;
}
.left-top-sub-header .vertical-line{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
/***left-top-sub-header end***/
/***right-top-sub-header start***/
.top-sub-header ul {
    list-style: none;
}
.top-sub-header ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: rgb(205, 205, 205);;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-left: 10px;
    transition: background-color 0.2s;
}
.top-sub-header ul li a i{
    color: white;
}
.top-sub-header ul li:hover{
    background-color: rgb(243, 85, 37);
}
/***right-top-sub-header end***/
/***========================= top sub-header end =========================***/

/********************************************************************************************************************************************************************************/

/***========================= nav-bar start ==============================***/
.main-header nav{
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
}
.main-header .nav-menu-bar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.main-header .nav-menu-bar ul li{
    margin-left: 55px;
}
.main-header .nav-menu-bar ul li a{
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}
.main-header .nav-menu-bar ul li.schedule-list{
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-right: 20px;
    background-color: black;
}
li.schedule-list i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    color: white;
    background-color: rgb(243, 85, 37);
}
.main-header .nav-menu-bar ul li.schedule-list a {
    color: white;
}

.main-header .nav-menu-bar ul li.home-link a{
    color: rgb(243, 85, 37) ;
}
.main-header .nav-menu-bar ul li a:hover{
    color: rgb(243, 85, 37) ;
}
/***=========================== nav-bar end ==============================***/